Monitorador_de_gas_CPS/fluxo.json
[
    {
        "id": "1fd9c294d39e6267",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2ee37e1e808b3bec",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "4fa54772d5c075f3",
        "type": "ui_group",
        "name": "Sensores",
        "tab": "439b7ec137375eb9",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "81bbcedf194b57a6",
        "type": "ui_group",
        "name": "Atuadores",
        "tab": "439b7ec137375eb9",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "439b7ec137375eb9",
        "type": "ui_tab",
        "name": "Projeto",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b5be16b80b5e2be2",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "f8b7a3ac2586bb7b",
        "type": "mqtt in",
        "z": "1fd9c294d39e6267",
        "name": "",
        "topic": "1yG4Lcv0/sensor",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "2ee37e1e808b3bec",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 200,
        "wires": [
            [
                "f9c47b5ada348d05",
                "5586942db6a8c928",
                "e5b6588783b068a6"
            ]
        ]
    },
    {
        "id": "5586942db6a8c928",
        "type": "template",
        "z": "1fd9c294d39e6267",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload}} ppm",
        "output": "str",
        "x": 460,
        "y": 140,
        "wires": [
            [
                "2b1c39a811e126b5"
            ]
        ]
    },
    {
        "id": "e5b6588783b068a6",
        "type": "function",
        "z": "1fd9c294d39e6267",
        "name": "Função Alarme 1",
        "func": "var ar = msg.payload;\n\nif(ar >= 30) {\n    msg.payload = 1;\n} else {\n    msg.payload = 0;\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 260,
        "wires": [
            [
                "5d46a73d7028ad6c"
            ]
        ]
    },
    {
        "id": "2b1c39a811e126b5",
        "type": "ui_text_input",
        "z": "1fd9c294d39e6267",
        "name": "",
        "label": "Qualidade Atual",
        "tooltip": "",
        "group": "4fa54772d5c075f3",
        "order": 1,
        "width": 3,
        "height": 2,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 660,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "5d46a73d7028ad6c",
        "type": "ui_gauge",
        "z": "1fd9c294d39e6267",
        "name": "",
        "group": "4fa54772d5c075f3",
        "order": 3,
        "width": 3,
        "height": 2,
        "gtype": "donut",
        "title": "Alarme Qualidade",
        "label": "",
        "format": "",
        "min": "0",
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 710,
        "y": 260,
        "wires": []
    },
    {
        "id": "f9c47b5ada348d05",
        "type": "ui_chart",
        "z": "1fd9c294d39e6267",
        "name": "",
        "group": "4fa54772d5c075f3",
        "order": 5,
        "width": 12,
        "height": 5,
        "label": "Histórico de Qualidade do Ar",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 520,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "318cf83821a41e3e",
        "type": "mqtt out",
        "z": "1fd9c294d39e6267",
        "name": "",
        "topic": "unifor/cps/vent",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2ee37e1e808b3bec",
        "x": 480,
        "y": 580,
        "wires": []
    },
    {
        "id": "474068f56de94d5d",
        "type": "ui_switch",
        "z": "1fd9c294d39e6267",
        "name": "",
        "label": "Ventilador",
        "tooltip": "",
        "group": "81bbcedf194b57a6",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 220,
        "y": 580,
        "wires": [
            [
                "318cf83821a41e3e"
            ]
        ]
    }
]